@import "tailwindcss";
@import "@tailwindcss/typography";

@layer base {
  * {
    border-color: theme(colors.zinc.800);
  }
  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }
}

@theme {
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}
